body {
    font-family: '
 'Roboto';

    margin: 0;

}

.header-color {
    background-color: #A56CF7
}

#submit {
    padding-left: 20%;
}

#services {
    padding-left: 20%;
}

h3 {
    font-size: 70px;
    padding-right: 10%;
}

#para {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}

.flexible-container {
    display: flex;
    margin-bottom: 60px;
}

.container {
    padding-top: 6%;
    padding-left: 8%;
}

.container2 {
    padding-right: 30%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;

}

.works {
    font-size: 50px;
    font-weight: 500;
}

#bg-images{
    background-image: url(images/Ellipse\ 37.png);
    background-repeat: no-repeat;
    padding-left: 12%;

}

.bg-color {
    background-color: #F5F5F5;
}
.download{
    display: grid;
    grid-template-columns:  2fr 2fr;
    column-gap: 30px;
}

.mission {
    padding-left: 12%;
    padding-right: 12%;
}

.footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
    column-gap: 30px;
    padding-left: 7%;
    padding-right: 7%;
}
.foo{
    padding-left: 34%;
}
.icon{
    padding-left: 85%;

    
}